/* ____________________全部字體樣式__________________________ */
/* 標題字 */
.text0 {
    font-family: "微软雅黑", "Dosis", sans-serif;
    color: palegoldenrod;
    font-weight: bold;
    font-size: 5rem;
    /* 文字大小 */
    background: linear-gradient(to right, #e608db, #feb47b);
    /* 漸層顏色 */
    -webkit-background-clip: text;
    /* 僅將背景漸層裁剪到文字部分 */
    -webkit-text-fill-color: transparent;
    /* 使背景漸層可見，填充透明 */
    text-align: center;
    /* 文字居中對齊 */
}

/* 介紹塔羅、塔羅牌內容 */
.text1 {
    font-family: "微软雅黑", "Dosis", sans-serif;
    text-align: left;
    position: relative;
}

.effect01 {
    color: #fbfbfb;
    text-shadow: 3px -3px 3px #000000;
}

/* 塔羅牌主題 */
.text2 {
    font-family: "微软雅黑", "Dosis", sans-serif;
    text-align: left;
    position: relative;
}

.effect02 {
    color: #d2e4e4;
    text-shadow: 3px -3px 3px #0e0d0d;
}

.text3 {
    font-family: "微软雅黑", "Dosis", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    /* 文字大小 */
    background: linear-gradient(to right, #e608db, #feb47b);
    /* 漸層顏色 */
    -webkit-background-clip: text;
    /* 僅將背景漸層裁剪到文字部分 */
    -webkit-text-fill-color: transparent;
    /* 使背景漸層可見，填充透明 */
    text-align: center;
    /* 文字居中對齊 */
}

.text4 {
    color: #d2e4e4;
    text-shadow: 3px -3px 3px #0e0d0d;
    font-size: 1.5rem;
}

.text5 {
    color: #d2e4e4;
    text-shadow: 3px -3px 3px #0e0d0d;
}

.text6 {
    font-family: "微软雅黑", "Dosis", sans-serif;
    /* font-weight: bold; */
    font-size: 1.5rem;
    /* 文字大小 */
    background: linear-gradient(to bottom, #e60826, #ed8230);
    /* 漸層顏色 */
    -webkit-background-clip: text;
    /* 僅將背景漸層裁剪到文字部分 */
    -webkit-text-fill-color: transparent;
    /* 使背景漸層可見，填充透明 */
    text-align: center;
    /* 文字居中對齊 */
}

/* ___________________所有button按鈕效果_______________________________ */
/* 開始抽牌按鈕 */
.button1 {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #f9f7f7;
    background-color: #9e39a7;
    border: none;
    border-radius: 15px;
    /* 圓角 */
    cursor: pointer;
    transition: transform 0.1s, background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 按鈕陰影 */
}

.button1:hover {
    background-color: #750971;
    /* 滑鼠懸停效果 */
}

.button1:active {
    transform: scale(0.95);
    /* 按壓時縮小 */
    background-color: #470838;
    /* 按壓時顏色改變 */
}

.button2 {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #f9f7f7;
    background-color: #cf6dab;
    border: none;
    border-radius: 15px;
    /* 圓角 */
    cursor: pointer;
    transition: transform 0.1s, background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 按鈕陰影 */
}

.button2:hover {
    background-color: #e85fbd;
    /* 滑鼠懸停效果 */
}

.button2:active {
    transform: scale(0.95);
    /* 按壓時縮小 */
    background-color: #db1a6a;
    /* 按壓時顏色改變 */
}

/* _______________________向上鍵按鈕__________________________________ */
#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff00;
    border: 2px solid rgba(255, 166, 0, 0);
    border-radius: 100px 100px 50px 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
    /* 初始時隱藏按鈕 */
    z-index: 9999;
    /* 放在最上層 */
}